*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

:root {
  /* 폰트 두께 */
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
  --base-text-weight-bold: 700;
  --base-text-weight-xbold: 800;
  --base-text-weight-2xbold: 900;

  /* 폰트 사이즈 */
  --base-text-size-xsmall: 1.1rem;
  --base-text-size-small: 1.3rem;
  --base-text-size-normal: 1.4rem;
  --base-text-size-medium: 1.5rem;
  --base-text-size-large: 1.6rem;
  --base-text-size-xlarge: 1.7rem;
  --base-text-size-2xlarge: 2.4rem;
  --base-text-size-3xlarge: 2.8rem;
  --base-text-size-4xlarge: 3rem;
  --base-text-size-5xlarge: 4rem;

  /* 폰트 컬러 */
  --base-text-color-dark: rgb(255, 255, 255);
  --base-text-color-light: rgb(0, 0, 0);

  /* 배경색 */
  --base-background-color-dark: rgb(34, 34, 34);
  --base-background-color-light: rgb(255, 255, 255);

  /* 메인 컬러 */
  --main-color-orange: #ff9b25;
}

body.light {
  background-color: var(--base-background-color-light);

  --header-background-color: rgba(255, 255, 255, 0.72);
  --header-shadow-color: rgb(234 234 236);

  --base-description-text-color: #747474;

  --card-created-text-color: #afafaf;
  --card-description-text-color: #333333;
}

body.dark {
  background-color: var(--base-background-color-dark);

  --header-background-color: rgba(34, 34, 34, 0.72);
  --header-shadow-color: rgb(2 1 1);

  --base-description-text-color: #dedede;

  --card-created-text-color: #bcbcbc;
  --card-description-text-color: #f2f2f2;
}
