*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

:root {
  /* 폰트 두께 */
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
  --base-text-weight-bold: 700;
  --base-text-weight-xbold: 800;
  --base-text-weight-2xbold: 900;

  /* 폰트 사이즈 */
  --base-text-size-xsmall: 1.1rem;
  --base-text-size-small: 1.3rem;
  --base-text-size-normal: 1.4rem;
  --base-text-size-medium: 1.5rem;
  --base-text-size-large: 1.6rem;
  --base-text-size-xlarge: 1.7rem;
  --base-text-size-2xlarge: 2.4rem;
  --base-text-size-3xlarge: 2.8rem;
  --base-text-size-4xlarge: 3rem;
  --base-text-size-5xlarge: 4rem;

  /* 폰트 컬러 */
  --base-text-color-dark: rgb(255, 255, 255);
  --base-text-color-light: rgb(0, 0, 0);

  /* 배경색 */
  --base-background-color-dark: rgb(34, 34, 34);
  --base-background-color-light: rgb(245, 245, 245);

  /* 메인 컬러 */
  --main-color-orange: #ff9b25;
}

body.light {
  background-color: var(--base-background-color-light);

  --header-background-color: var(--base-background-color-light);

  --dark-mode-toggle-border-color: var(--main-color-orange);
  --dark-mode-toggle-background-color: var(--main-color-orange);

  --project-upload-modal-title-color: var(--main-color-orange);
  --project-upload-modal-subtitle-color: #656565;

  --project-upload-modal-input-label-text-color: var(--base-text-color-light);
  --project-upload-modal-input-text-color: var(--base-text-color-light);
  --project-upload-modal-input-underline-color: var(--main-color-orange);
  --project-upload-modal-input-required-color: #ff0000;

  --project-upload-modal-hashtag-background-color: var(--main-color-orange);
  --project-upload-modal-hashtag-text-color: #f7f7f8;

  --project-upload-modal-image-input-label-text-color: var(--base-text-color-light);

  --project-upload-modal-button-text-color: var(--main-color-orange);
  --project-upload-modal-button-border-color: var(--main-color-orange);

  --mainpage-title-text-color: var(--main-color-orange);
  --mainpage-subtitle-text-color: #747474;

  --mainpage-modal-button-text-color: var(--main-color-orange);
  --mainpage-modal-button-border-color: var(--main-color-orange);

  --mainpage-navigation-bar-item-background-color: var(--main-color-orange);
  --mainpage-navigation-bar-clicked-item-text-color: #333333;

  --mainpage-cardlist-title-text-color: var(--main-color-orange);

  --mainpage-cardlist-description-text-color: var(--base-text-color-light);

  --mainpage-cardlist-hashtag-text-color: #ffffff;
  --mainpage-cardlist-hashtag-background-color: var(--main-color-orange);

  --mainpage-searchbar-background-color: #ebebeb;
  --mainpage-searchbar-text-color: #9f9f9f;
  --mainpage-searchbar-placeholder-text-color: #9f9f9f;

  --mainpge-cardlist-views-text-color: #bcbcbc;
  --mainpge-cardlist-likes-text-color: #bcbcbc;

  --detailpage-project-title-text-color: var(--main-color-orange);
  --detailpage-project-created-text-color: #656565;

  --detailpage-button-text-color: var(--main-color-orange);
  --detailpage-button-border-color: var(--main-color-orange);

  --detailpage-comment-count-text-color: #656565;

  --detailpage-comment-input-background-color: #ededed;
  --detailpage-comment-input-border-color: #e0e0e0;
  --detailpage-comment-input-placeholder-color: #878787;

  --detailpage-comment-length-text-color: #9e9e9e;

  --detailpage-commenter-name-text-color: #2c2c2c;
  --detailpage-commenter-created-text-color: #656565;

  --detailpage-commenter-content-text-color: #2c2c2c;
}

body.dark {
  background-color: var(--base-background-color-dark);

  --header-background-color: var(--base-background-color-dark);

  --dark-mode-toggle-border-color: var(--main-color-orange);
  --dark-mode-toggle-background-color: var(--main-color-orange);

  --project-upload-modal-title-color: var(--main-color-orange);
  --project-upload-modal-subtitle-color: #dedede;

  --project-upload-modal-input-label-text-color: #f2f2f2;
  --project-upload-modal-input-text-color: #f2f2f2;
  --project-upload-modal-input-underline-color: var(--main-color-orange);
  --project-upload-modal-input-required-color: #ff0000;

  --project-upload-modal-hashtag-input-label-text-color: #f2f2f2;
  --project-upload-modal-hashtag-input-text-color: #f2f2f2;
  --project-upload-modal-hashtag-background-color: var(--main-color-orange);
  --project-upload-modal-hashtag-text-color: #343434;

  --project-upload-modal-image-input-label-text-color: #f2f2f2;

  --project-upload-modal-button-text-color: var(--main-color-orange);
  --project-upload-modal-button-border-color: var(--main-color-orange);

  --mainpage-title-text-color: var(--main-color-orange);
  --mainpage-subtitle-text-color: #dedede;

  --mainpage-modal-button-text-color: var(--main-color-orange);
  --mainpage-modal-button-border-color: var(--main-color-orange);

  --mainpage-navigation-bar-item-background-color: var(--main-color-orange);
  --mainpage-navigation-bar-clicked-item-text-color: #ffffff;

  --mainpage-cardlist-title-text-color: var(--main-color-orange);

  --mainpage-cardlist-description-text-color: #f2f2f2;

  --mainpage-cardlist-hashtag-text-color: #343434;
  --mainpage-cardlist-hashtag-background-color: var(--main-color-orange);

  --mainpage-searchbar-background-color: #ebebeb;
  --mainpage-searchbar-text-color: #9f9f9f;
  --mainpage-searchbar-placeholder-text-color: #9f9f9f;

  --mainpage-cardlist-views-text-color: #bcbcbc;
  --mainpage-cardlist-likes-text-color: #bcbcbc;

  --detailpage-project-title-text-color: var(--main-color-orange);
  --detailpage-project-created-text-color: #dedede;

  --detailpage-project-readme-text-color: #343434;

  --detailpage-button-text-color: var(--main-color-orange);
  --detailpage-button-border-color: var(--main-color-orange);

  --detailpage-comment-count-text-color: #dedede;

  --detailpage-comment-input-background-color: #ededed;
  --detailpage-comment-input-border-color: #e0e0e0;
  --detailpage-comment-input-text-color: #343434;
  --detailpage-comment-input-placeholder-color: #878787;

  --detailpage-comment-length-text-color: #b1b1b1;

  --detailpage-commenter-name-text-color: #dedede;
  --detailpage-commenter-created-text-color: #b1b1b1;

  --detailpage-commenter-content-text-color: #dedede;
}

/* 새로 변경될 css */
body.light {
  background-color: var(--base-background-color-light);

  --header-background-color: rgba(255, 255, 255, 0.72);
  --header-shadow-color: rgb(234 234 236);

  --base-description-text-color: #747474;

  --card-background-color: #ffffff;
  --card-background-color-hover: rgb(253, 253, 255);
  --card-background-box-shadow-color: 0, 0, 0;
  --card-background-box-shadow: 6px 8px 16px rgba(var(--card-background-box-shadow-color), 0.12);

  --card-title-text-color: #000000;
  --card-created-text-color: #afafaf;
  --card-description-text-color: #000000;

  --card-overlay-layer: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 60%,
    rgb(255, 255, 255) 100%
  );

  --navigation-item-clicked-text-color: #333333;

  --search-bar-background-color: #ffffff68;
  --search-bar-border-color: #ffffff68;
  --search-bar-text-color: #000000;

  --scroll-catcher-text-color: #000000;

  --side-bar-item-text-color: rgb(112, 112, 112);
  --side-bar-item-background-color-hover: #ffffff;

  --side-bar-border-bottom-color: rgb(234, 234, 236);
}

body.dark {
  background-color: var(--base-background-color-dark);

  --header-background-color: rgba(34, 34, 34, 0.72);
  --header-shadow-color: rgb(2 1 1);

  --base-description-text-color: #dedede;

  --card-background-color: rgb(49, 49, 49);
  --card-background-color-hover: #343434;
  --card-background-box-shadow-color: 255, 255, 255;
  --card-background-box-shadow: 6px 8px 16px rgba(var(--card-background-box-shadow-color), 0.12);

  --card-title-text-color: #ffffff;
  --card-created-text-color: #bcbcbc;
  --card-description-text-color: #ffffff;

  --card-overlay-layer: linear-gradient(
    rgba(49, 49, 49, 0) 0%,
    rgba(49, 49, 49, 0.8) 60%,
    rgb(49, 49, 49) 100%
  );

  --navigation-item-clicked-text-color: #ffffff;

  --search-bar-background-color: #ffffff18;
  --search-bar-border-color: #ffffff18;
  --search-bar-text-color: #ffffff;

  --scroll-catcher-text-color: #ffffff;

  --side-bar-item-text-color: #848484;
  --side-bar-item-background-color-hover: rgb(72, 72, 72);

  --side-bar-border-bottom-color: rgb(21, 21, 19);
}
