*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

:root {
  /* 폰트 두께 */
  --base-text-weight-normal: 400;
  --base-text-weight-medium: 500;
  --base-text-weight-semibold: 600;
  --base-text-weight-bold: 700;
  --base-text-weight-extrabold: 800;
  --base-text-weight-2extrabold: 800;

  /* 폰트 사이즈 */
  --base-text-size-xsmall: 0.5rem;
  --base-text-size-small: 0.75rem;
  --base-text-size-normal: 1rem;
  --base-text-size-medium: 1.25rem;
  --base-text-size-large: 1.5rem;
  --base-text-size-xlarge: 2rem;
  --base-text-size-2xlarge: 2.5rem;
  --base-text-size-3xlarge: 3rem;

  /* 폰트 컬러 */
  --base-text-color-dark: rgb(255, 255, 255);
  --base-text-color-light: rgb(0, 0, 0);

  /* 배경색 */
  --base-background-color-dark: rgb(34, 34, 34);
  --base-background-color-light: rgb(255, 255, 255);

  /* 토스 메인 컬러 */
  --toss-main-color-blue-1: rgb(0, 100, 255);
  --toss-main-color-blue-2: #4880ee;
  --toss-main-color-blue-3: #83b4f9;

  --toss-main-color-gray-1: rgb(32, 35, 50);
  --toss-main-color-gray-2: #505866;
  --toss-main-color-gray-3: #b1b8c0;

  /* 토스 텍스트 컬러 */
  --toss-text-color-1: #1a1e27;
  --toss-text-color-2: #505866;
  --toss-text-color-3: #b1b8c0;

  /* 메인 컬러 */
  --main-color-orange: #ff9b25;
}

body.light {
  --base-text-color: var(--base-text-color-light);
  --base-background-color: var(--base-background-color-light);

  color: var(--base-text-color);
  background-color: var(--base-background-color);

  --header-background-color: var(--base-background-color-light);

  --dark-mode-toggle-border-color: var(--main-color-orange);
  --dark-mode-toggle-background-color: var(--main-color-orange);

  --project-upload-modal-title-color: var(--main-color-orange);
  --project-upload-modal-subtitle-color: #656565;

  --project-upload-modal-input-label-text-color: var(--base-text-color-light);
  --project-upload-modal-input-text-color: var(--base-text-color-light);
  --project-upload-modal-input-underline-color: var(--main-color-orange);
  --project-upload-modal-input-required-color: #ff0000;

  --project-upload-modal-hashtag-background-color: var(--main-color-orange);
  --project-upload-modal-hashtag-text-color: #f7f7f8;

  --project-upload-modal-image-input-label-text-color: var(--base-text-color-light);
  --project-upload-modal-image-input-wrapper-background-color: #f6f6f6;
  --project-upload-modal-image-input-wrapper-text-color: var(--main-color-orange);

  --project-upload-modal-submit-button-background-color: var(--base-background-color-light);
  --project-upload-modal-submit-button-text-color: var(--main-color-orange);
  --project-upload-modal-submit-button-border-color: var(--main-color-orange);

  --mainpage-title-text-color: var(--main-color-orange);
  --mainpage-subtitle-text-color: #747474;

  --mainpage-modal-button-text-color: var(--main-color-orange);
  --mainpage-modal-button-border-color: var(--main-color-orange);
}

body.dark {
  --base-text-color: var(--base-text-color-dark);
  --base-background-color: var(--base-background-color-dark);

  color: var(--base-text-color);
  background-color: var(--base-background-color);

  --header-background-color: var(--base-background-color-dark);

  --dark-mode-toggle-border-color: var(--main-color-orange);
  --dark-mode-toggle-background-color: var(--main-color-orange);

  --project-upload-modal-title-color: var(--main-color-orange);
  --project-upload-modal-subtitle-color: #dedede;

  --project-upload-modal-input-label-text-color: #f2f2f2;
  --project-upload-modal-input-text-color: #f2f2f2;
  --project-upload-modal-input-underline-color: var(--main-color-orange);
  --project-upload-modal-input-required-color: #ff0000;

  --project-upload-modal-hashtag-input-label-text-color: #f2f2f2;
  --project-upload-modal-hashtag-input-text-color: #f2f2f2;
  --project-upload-modal-hashtag-background-color: var(--main-color-orange);
  --project-upload-modal-hashtag-text-color: #343434;

  --project-upload-modal-image-input-label-text-color: #f2f2f2;
  --project-upload-modal-image-input-wrapper-background-color: #f6f6f6;
  --project-upload-modal-image-input-wrapper-text-color: var(--main-color-orange);

  --project-upload-modal-submit-button-background-color: var(--base-background-color-dark);
  --project-upload-modal-submit-button-text-color: var(--main-color-orange);
  --project-upload-modal-submit-button-border-color: var(--main-color-orange);

  --mainpage-title-text-color: var(--main-color-orange);
  --mainpage-subtitle-text-color: #DEDEDE;

  --mainpage-modal-button-text-color: var(--main-color-orange);
  --mainpage-modal-button-border-color: var(--main-color-orange);
}
